* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #edeffa;
}

h2,
h3 {
    font-family: "Inter", sans-serif;
    margin: 5px 0 5px 0;
}

p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

ul,
ol {
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 200%;
}

.body .footer {
    background-color: #4a5bcd;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 10px 0;
    width: 100vw;
    margin-top: auto;
}

.titel {
    background-color: #4a5bcd;
    padding: 25px;
}

.body {
    padding: 15px 25% 15px 25%;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;

    margin: 25px auto 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check {
    max-width: 40px;
}